<div><%= link_to 'Customers', customers_path %></div>
<div><%= link_to 'Drivers', drivers_path %></div>
<div><%= link_to 'Locations', locations_path %></div>
<div><%= link_to 'Preshipment Advice', preshipment_advices_path %></div>
<div><%= link_to 'Purchase Orders', purchase_orders_path %></div>
<div><%= link_to 'Transporters', transporters_path %></div>
<div><%= link_to 'Vehicles', vehicles_path %></div>
<div><%= link_to 'Vehicle Models', models_path %></div>
<div><%= link_to 'Waybills', waybills_path %></div>
