<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @driver.Name %>
</p>

<p>
  <b>Number:</b>
  <%= @driver.Number %>
</p>


<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
